magica_ime_data_MSIME.txt encoding=UTF-16LE-BOM working-tree-encoding=UTF-16LE-BOM
magica_ime_data_ATOK.txt encoding=UTF-16LE-BOM working-tree-encoding=UTF-16LE-BOM
magica_ime_data_Mac.txt encoding=UTF-8 working-tree-encoding=UTF-8
magica_ime_data_GoogleIME.txt encoding=UTF-8 working-tree-encoding=UTF-8
SKK-JISYO.magica encoding=UTF-8 working-tree-encoding=UTF-8
