magica_ime_data_MSIME.txt working-tree-encoding=UTF-16LE-BOM eol=crlf
magica_ime_data_ATOK.txt working-tree-encoding=UTF-16LE-BOM eol=crlf
magica_ime_data_Mac.txt working-tree-encoding=UTF-8 eol=lf
magica_ime_data_GoogleIME.txt working-tree-encoding=UTF-8 eol=crlf
SKK-JISYO.magica working-tree-encoding=UTF-8 eol=lf
