magica_ime_data_MSIME.txt encoding=UTF-16LE-BOM eol=crlf
magica_ime_data_ATOK.txt encoding=UTF-16LE-BOM eol=crlf
magica_ime_data_MAC.txt encoding=UTF-8 eol=lf
magica_ime_data_GoogleIME.txt encoding=UTF-8 eol=crlf
